#footer
{
	width: 980px;
	overflow: hidden;
	padding: 0 10px 10px;
	border-left: 1px solid #00529b;
	border-bottom: 1px solid #00529b;
	border-right: 1px solid #00529b;
	background-color: #50779d;
	margin: 0 auto;
}

#technology
{
	margin-bottom: 10px;
}

#technologyStack
{
	width: 100%;
	overflow: hidden;
}

#footer root
{
	width: 980px;
}

.footerLogo
{
	float: left;
	margin-right: 10px;
}

#abyssLogo
{
	width: 172px;
	height: 32px;
	overflow: hidden;
}

#pclosLogo
{
	width: 102px;
	height: 32px;
	overflow: hidden;
}

#openfireLogo
{
	width: 94px;
	height: 32px;
	overflow: hidden;
}

#validXhtml
{
	width: 88px;
	height: 31px;
	overflow: hidden;
}

#validRss
{
	width: 88px;
	height: 31px;
	overflow: hidden;
}

#rapidSslLogo
{
	width: 90px;
	height: 50px;
}
