h1 {
	font-size: 16px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	text-align: left;
}

caption {
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
}

img {
	border: 0px;
}

div.pageContainer {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}

div.userControls {
	width: 240px;
	height: 95px;
	overflow: hidden;
	float: right;
}

span.aboutPhyleBoxLink {
	display: block;
	text-decoration: underline;
	text-align: right;
	margin: 0px 10px 0px 0px;
	cursor: pointer;
	width: 230px;
	float: left;
}

div.avatar {
	width: 50px;
	height: 50px;
	background-color: #ffffff;
	float: right;
	margin: 0px;
}

div.greeting {
	height: 50px;
	margin: 0px 10px 0px 10px;
	float: right;
}

div.greeting span {
	text-align: right;
	vertical-align: text-bottom;
}

div.logout {
	width: 130px;
	height: 20px;
	margin: 0px;
	float: left;
	text-align: center;
	cursor: pointer;
}

div.innerPageArea {
	position: absolute;
	left: 0px;
	top: 92px;
	width: 100%;
	height: 800px;
	overflow: hidden;
}

div.menuDialog {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 130px;
	height: 600px;
	margin-left: 10px;
}

div.menuItem {
	width: 120px;
	height: 28px;
	float: right;
	color: #ffffff;
}

div.menuItem span {
	display: block;
	width: 115px;
	height: 20px;
	line-height: 18px;
	float: left;
	font-size: 18px;
	text-align: right;
	padding-right: 5px;
	font-weight: bold;
	cursor: pointer;
	margin: 5px 0px 5px 0px;
	text-transform: uppercase;
}

div.selected {
	background-image: url('../images/menuItemSelected.png');
	background-position: top left;
	background-repeat: no-repeat;
	background-color: #ffffff;
	color: #000000;
}

div.contentArea {
	position: absolute;
	left: 140px;
	top: 0px;
	width: 800px;
	height: 800px;
	color: #000000;
	margin: 0px 20px 0px 20px;
}

div.informationBox {
	width: 800px;
	height: 220px;
	float: left;
	margin: 0px;
	overflow: hidden;
	background-color: #ffffff;
}

div.messageCenter {
	width: 230px;
	height: 220px;
	float: left;
	margin: 0px;
}

div.widgetPanel {
	width: 460px;
	height: 220px;
	float: right;
	margin: 0px;
	font-weight: bold;
}

div.hudRow {
	height:30px;
	float:right;
	margin:0px 0px 0px 5px;
	width:150px;
}

div.driveUsageWidget {
	width: 460px;
	height: 34px;
	float: left;
	margin: 0px;
}

div.driveUsageMeterBg {
	width:150px;
	height:14px;
	float:left;
	background-color:#47b769;
}

div.driveUsedBg {
	float:left;
	background-color:#c63d3d;
	height:14px;
}

div.privateMessagesWidget {
	width: 460px;
	height: 24px;
	float: left;
	margin: 5px 0px 5px 0px;
}

div.recycleBinWidget {
	width: 460px;
	height: 34px;
	float: left;
	margin: 0px;
}

div.meritsWidget {
	width: 460px;
	height: 34px;
	float: left;
	margin: 0px;
	margin: 5px 0px 5px 0px;
}

div.footer {
	width: 800px;
	height: 20px;
	font-size: 10px;
	text-align: center;
	float: left;
	color: #000000;
}

div.buttonPanel {
	width: 800px;
	margin: 10px auto;
	padding: 0px auto;
	float: left;
}

span.newItems {
	color: #637bd1;
}

div.newsMessageList {
	width: 230px;
	height: 86px;
}

div.newsMessageList ul {
	list-style-type: none;
	padding: 0px;
	margin: 4px 0px 0px 0px;
}

div.userBar {
	height: 22px;
	width: 800px;
	margin: 0px;
	padding: 0px;
	float: left;
}

div.contentLabel {
	height: 22px;
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	float: left;
	margin: 2px 0px 2px 2px;
	color: #ffffff;
}

div.contentContainer {
	height: 374px;
	width: 796px;
	float: left;
	margin: 2px;
	background-color: #ffffff;
	overflow: scroll;
}

table.folderContents {
	width: 770px;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	empty-cells: show;
	table-layout: fixed;
	font-size: 12px;
}

td.checkBoxField {
	width: 20px;
}

td.fileNameField {
	width: 180px;
}

td.sizeField {
	width: 75px;
}

td.attributesField {
	width: 340px;
}

td.statusField {
	width: 124px;
}

th.checkBoxField {
	width: 20px;
}

th.fileNameField {
	width: 180px;
}

th.sizeField {
	width: 75px;
}

th.attributesField {
	width: 340px;
}

th.statusField {
	width: 124px;
}

td.oddRow {
	background-color: #ffffff;
}

div.button {
	height: 24px;
	text-align: center;
	font-size: 18px;
	line-height: 18px;
	color: #ffffff;
	float: left;
	margin: 0px 0px 10px 10px;
	cursor: pointer;
}

div.icon {
	width: 16px;
	height: 16px;
	background-image: url('../images/iconsbyshaw.gif');
	overflow:hidden;
	float: left;
}

div.folder {
	background-position: -16px 0px;
	margin-right: 10px;
}

div.openFolder {
	background-position: -16px -16px;
	margin-right: 10px;
}

div.image {
	background-position: -48px -64px;
	margin-right: 10px;
}

div.textfile {
	background-position: -16px -112px;
	margin-right: 10px;
}

div#meritsIcon {
	background-image: url('../images/merits.gif');
	float:right;
	width:16px;
	height:16px;
}

div#pmIcon {
	background-image: url('../images/envelope.gif');
	float:right;
	width:24px;
	height:24px;
}

div.animatedIcon {
	width: 16px;
	height: 16px;
}

th.columnHeader {
	text-align: left;
	cursor:pointer;
	text-decoration:underline;
	font-weight:bold;
}

div#uploadButton {
	width: 72px;
	overflow: hidden;
	background-image: url('../images/Button72x30.png');
	background-repeat: no-repeat;
}

div#downloadButton {
	width: 95px;
	overflow: hidden;
	background-image: url('../images/Button95x30.png');
	background-repeat: no-repeat;
}

div#copyMoveButton {
	width: 106px;
	overflow: hidden;
	background-image: url('../images/Button106x30.png');
	background-repeat: no-repeat;
}

div#archiveButton {
	width: 72px;
	overflow: hidden;
	background-image: url('../images/Button72x30.png');
	background-repeat: no-repeat;
}

div#deleteButton {
	width: 72px;
	overflow: hidden;
	background-image: url('../images/Button72x30.png');
	background-repeat: no-repeat;
}

div#sendButton {
	width: 72px;
	overflow: hidden;
	background-image: url('../images/Button72x30.png');
	background-repeat: no-repeat;
}

div#secureButton {
	width: 72px;
	overflow: hidden;
	background-image: url('../images/Button72x30.png');
	background-repeat: no-repeat;
}

td.clickable {
	cursor: pointer;
}