body
{
	background-color: #54c667;
}

div.leftPanel
{
	background-image: url('../_images/leftPanelBackgroundGreen.png');
}

div.tabBarBlue
{
	background-image: url('../_images/tabBarBackgroundGreen.png');
}

div.userPanel
{
	color: #a4e0ae;
	border-bottom: 1px solid #a4e0ae;
}

ul.userItems li
{
	background-image: url('../_images/greenBullet.png');
}

ul.userItems li.collapsed
{
	color: #41bf56;
}

div.controlsPanel
{
	color: #a4e0ae;
	border-bottom: 1px solid #a4e0ae;
}

ul.viewItems li.radioButtonSelected
{
	background-image: url('../_images/greenRadioButtonOn.png');
}

ul.viewItems li.radioButtonDeselected
{
	background-image: url('../_images/greenRadioButtonOff.png');
}

div.breadcrumbContainer
{
	background-color: #41bf56;
}

div.breadcrumb
{
	background-color: #a4e0ae;
}

div.tab
{
	background-image: url('../_images/largeTabGreen.png');
}

ul.columnHeaders li
{
	background-color: #a4e0ae;
}

div.oddRow
{
	background-color: #c8edce;
}

div.downloadAllButton
{
	background-image: url('../_images/downloadButtonGreen.png');
}

div.userHUD
{
	color: #41bf56;
}

div.topOfUserDialog
{
	background-image: url('../_images/userAreaDialogTopGreen.png');
}

div.bottomOfUserDialog
{
	background-image: url('../_images/userAreaDialogBottomGreen.png');
}

div.hudItem
{
	background-color: #a4e0ae;
}