body
{
	background-color: #6795c2;
}

div.leftPanel
{
	background-image: url('../_images/leftPanelBackgroundBlue.png');
}

div.tabBarBlue
{
	background-image: url('../_images/tabBarBackgroundBlue.png');
}

div.userPanel
{
	color: #9fcbf8;
	border-bottom: 1px solid #9fcbf8;
}

ul.userItems li
{
	background-image: url('../_images/blueBullet.png');
}

ul.userItems li.collapsed
{
	color: #6b86b1;
}

div.controlsPanel
{
	color: #9fcbf8;
	border-bottom: 1px solid #9fcbf8;
}

ul.viewItems li.radioButtonSelected
{
	background-image: url('../_images/blueRadioButtonOn.png');
}

ul.viewItems li.radioButtonDeselected
{
	background-image: url('../_images/blueRadioButtonOff.png');
}

div.breadcrumbContainer
{
	background-color: #6b86b1;
}

div.breadcrumb
{
	background-color: #9fcbf8;
}

div.tab
{
	background-image: url('../_images/largeTabBlue.png');
}

ul.columnHeaders li
{
	background-color: #9fcbf8;
}

div.oddRow
{
	background-color: #c8e1f2;
}

div.downloadAllButton
{
	background-image: url('../_images/downloadButtonBlue.png');
}

div.userHUD
{
	color: #6b86b1;
}

div.topOfUserDialog
{
	background-image: url('../_images/userAreaDialogTopBlue.png');
}

div.bottomOfUserDialog
{
	background-image: url('../_images/userAreaDialogBottomBlue.png');
}

div.hudItem
{
	background-color: #9fcbf8;
}