input
{
	margin-bottom: 4px;
}

.loginPanel
{
	width: 200px;
	overflow: hidden;
	margin: 200px auto 0;
	text-align: center;
	background-color: #50779d;
	text-align: left;
	border: 2px #f0f0f0 solid;
	padding: 10px;
}

#phyleBoxLoginForm
{
	width: 200px;
	overflow: hidden;
}

.footer
{
	position: absolute;
	bottom: 0;
}
