<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Nathandelane.WatiN.Properties.Settings.VehixFoundationConnectionString"
            connectionString="Data Source=qa-sql-01\a;Initial Catalog=VehixFoundation;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>