body
{
	margin: 0;
	padding: 0;
	background-color: #7097CD;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 12px;
	text-align: center;
	color: #efefef;
}

img
{
	border: 0;
}

label,
input
{
	width: 100%;
	overflow: hidden;
}

p
{
	margin: 0 0 10px 0;
}

a:link,
a:active,
a:visited,
a:hover
{
	color: #efefef;
}

legend
{
	color: #efefef;
}

fieldset
{
	border-bottom: #F0F0F0 2px solid;
	border-top: #F0F0F0 2px solid;
	border-right: #F0F0F0 2px solid;
	border-left: #F0F0F0 2px solid;
	padding: 4px 9px 7px 9px;
}

.root
{
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
	text-align: left;
}

.formRow
{
	width: 100%;
	overflow: hidden;
}

.submit
{
	width: auto;
	float: right;
	height: 26px;
}
