<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="hostFileLocation" value="C:\WINDOWS\system32\drivers\etc\hosts"/>
		<add key="backupOriginalHostsFile" value="true"/>
	</appSettings>
	<configSections>
		<section name="servers" type="Vehix.QA.SetHostFile.Configuration.ServersConfigurationSection, Vehix.QA.SetHostFile.Configuration"/>
		<section name="hostBindings" type="Vehix.QA.SetHostFile.Configuration.HostBindingsConfigurationSection, Vehix.QA.SetHostFile.Configuration"/>
		<section name="dnsAliases" type="Vehix.QA.SetHostFile.Configuration.DnsAliasesConfigurationSection, Vehix.QA.SetHostFile.Configuration"/>
		<section name="farmGroupBindings" type="Vehix.QA.SetHostFile.Configuration.FarmGroupBindingsConfigurationSection, Vehix.QA.SetHostFile.Configuration"/>
		<section name="customHostsFileSettings" type="Vehix.QA.SetHostFile.Configuration.CustomHostsFilesSection, Vehix.QA.SetHostFile.Configuration"/>
	</configSections>
	<servers>
		<liveServers>
			<add name="blank" ipMask="" farmGroup="blank"/>
			<add name="akamai" ipMask="96.17.0.155" farmGroup="akamai"/>
			<add name="akamaistaging" ipMask="96.17.77.193" farmGroup="akamaiStaging"/>
			<add name="maintenance" ipMask="10.1.1.250" farmGroup="maintenance"/>
			<add name="prod-admin-01" ipMask="10.1.1.2n" farmGroup="admin"/>
			<add name="prod-admin-02" ipMask="10.1.1.3n" farmGroup="admin"/>
			<add name="prod-web-01" ipMask="10.1.1.11n" farmGroup="consumerWeb"/>
			<add name="prod-web-02" ipMask="10.1.1.12n" farmGroup="consumerWeb"/>
			<add name="prod-web-bl01" ipMask="10.1.1.17n" farmGroup="consumerBlade"/>
			<add name="prod-web-bl02" ipMask="10.1.1.18n" farmGroup="consumerBlade"/>
			<add name="prod-web-bl03" ipMask="10.1.1.19n" farmGroup="consumerBlade"/>
			<add name="prod-web-bl04" ipMask="10.1.1.21n" farmGroup="consumerBlade"/>
			<add name="prod-web-bl05" ipMask="10.1.1.22n" farmGroup="consumerBlade"/>
			<add name="prod-web-bl06" ipMask="10.1.1.13n" farmGroup="consumerBlade"/>
			<add name="prod-web-bl07" ipMask="10.1.1.14n" farmGroup="consumerBlade"/>
			<add name="prod-web-bl08" ipMask="10.1.1.15n" farmGroup="consumerBlade"/>
			<add name="prod-web-bl09" ipMask="10.1.1.16n" farmGroup="consumerBlade"/>
			<add name="prod-web-bl10" ipMask="10.1.1.20n" farmGroup="consumerBlade"/>
			<add name="prod-webtest-01" ipMask="10.1.2.9n" farmGroup="prod-webtest-01"/>
			<add name="qa-web-01" ipMask="10.1.2.11n" farmGroup="qa-web-01"/>
			<add name="qa-web-02" ipMask="10.1.2.12n" farmGroup="qa-web-02"/>
			<add name="qa-web-03" ipMask="10.1.2.13n" farmGroup="qa-web-03"/>
			<add name="qa-web-04" ipMask="10.1.2.14n" farmGroup="qa-web-04"/>
			<add name="qa-web-05" ipMask="10.1.2.15n" farmGroup="qa-web-05"/>
			<add name="staging" ipMask="10.1.2.5n" farmGroup="staging-web-01"/>
			<add name="staging-web-01" ipMask="10.1.2.5n" farmGroup="staging-web-01"/>
			<add name="staging-web-02" ipMask="10.1.2.6n" farmGroup="staging-web-02"/>
			<add name="staging-web-03" ipMask="10.1.2.7n" farmGroup="staging-web-03"/>
		</liveServers>
	</servers>
	<hostBindings>
		<aliases>
			<add name="abc15" value="0" />
			<add name="account" value="8" />
			<add name="admin" value="5" />
			<add name="affiliate" value="7" />
			<add name="cable" value="7" />
			<add name="comcast" value="0" />
			<add name="dealers" value="6" />
			<add name="fetchtoto" value="0" />
			<add name="kiplinger" value="0" />
			<add name="kjrh" value="0" />
			<add name="kjrl" value="0" />
			<add name="kmci" value="0" />
			<add name="knxv" value="0" />
			<add name="kshb" value="0" />
			<add name="kypost" value="0" />
			<add name="lasvegascars" value="0" />
			<add name="media" value="2" />
			<add name="nbc11" value="0" />
			<add name="nbc5i" value="0" />
			<add name="nbcchicago" value="0" />
			<add name="nbcdfw" value="0" />
			<add name="political" value="8" />
			<add name="raleigh" value="0" />
			<add name="services" value="3" />
			<add name="smartmoney" value="0" />
			<add name="static" value="2" />
			<add name="vehix" value="0" />
			<add name="wcpo" value="0" />
			<add name="wews" value="0" />
			<add name="widgets" value="1" />
			<add name="wfts" value="0" />
			<add name="www" value="0" />
		</aliases>
	</hostBindings>
	<dnsAliases>
		<dnsChanges>
			<add name="political" value="www.yourlocalpolitics.com"/>
			<add name="vehix" value="vehix.com"/>
			<add name="maintenance" value="www.vehix.com"/>
			<add name="akamai" value="www.vehix.com"/>
		</dnsChanges>
	</dnsAliases>
	<farmGroupBindings>
		<bindings>
			<add name="staging" hosts="abc15,account,admin,affiliate,cable,comcast,dealers,fetchtoto,kiplinger,kjrh,kjrl,kmci,knxv,kshb,kypost,lasvegascars,media,nbc11,nbc5i,nbcchicago,nbcdfw,political,scripps,services,smartmoney,static,vehix,wcpo,wews,widgets,wfts,www"/>
			<add name="prod-webtest-01" hosts="admin,account,dealers,cable,affiliate,vehix,www,static,nbcchicago,wfts,wews,kshb,knxv,kmci,kjrl,kjrh,services,kiplinger,smartmoney,comcast,nbc5i,nbc11,wcpo,kypost,scripps,widgets,media,political"/>
			<add name="staging-web-01" hosts="abc15,account,admin,affiliate,cable,comcast,dealers,fetchtoto,kiplinger,kjrh,kjrl,kmci,knxv,kshb,kypost,lasvegascars,media,nbc11,nbc5i,nbcchicago,nbcdfw,political,scripps,services,smartmoney,static,vehix,wcpo,wews,widgets,wfts,www"/>
			<add name="staging-web-02" hosts="abc15,account,admin,affiliate,cable,comcast,dealers,fetchtoto,kiplinger,kjrh,kjrl,kmci,knxv,kshb,kypost,lasvegascars,media,nbc11,nbc5i,nbcchicago,nbcdfw,political,scripps,services,smartmoney,static,vehix,wcpo,wews,widgets,wfts,www"/>
			<add name="staging-web-03" hosts="abc15,account,admin,affiliate,cable,comcast,dealers,fetchtoto,kiplinger,kjrh,kjrl,kmci,knxv,kshb,kypost,lasvegascars,media,nbc11,nbc5i,nbcchicago,nbcdfw,political,scripps,services,smartmoney,static,vehix,wcpo,wews,widgets,wfts,www"/>
			<add name="qa-web-01" hosts="abc15,account,admin,affiliate,cable,comcast,dealers,fetchtoto,kiplinger,kjrh,kjrl,kmci,knxv,kshb,kypost,lasvegascars,media,nbc11,nbc5i,nbcchicago,nbcdfw,political,scripps,services,smartmoney,static,vehix,wcpo,wews,widgets,wfts,www"/>
			<add name="qa-web-02" hosts="abc15,account,admin,affiliate,cable,comcast,dealers,fetchtoto,kiplinger,kjrh,kjrl,kmci,knxv,kshb,kypost,lasvegascars,media,nbc11,nbc5i,nbcchicago,nbcdfw,political,scripps,services,smartmoney,static,vehix,wcpo,wews,widgets,wfts,www"/>
			<add name="qa-web-03" hosts="abc15,account,admin,affiliate,cable,comcast,dealers,fetchtoto,kiplinger,kjrh,kjrl,kmci,knxv,kshb,kypost,lasvegascars,media,nbc11,nbc5i,nbcchicago,nbcdfw,political,scripps,services,smartmoney,static,vehix,wcpo,wews,widgets,wfts,www"/>
			<add name="qa-web-04" hosts="abc15,account,admin,affiliate,cable,comcast,dealers,fetchtoto,kiplinger,kjrh,kjrl,kmci,knxv,kshb,kypost,lasvegascars,media,nbc11,nbc5i,nbcchicago,nbcdfw,political,scripps,services,smartmoney,static,vehix,wcpo,wews,widgets,wfts,www"/>
			<add name="qa-web-05" hosts="abc15,account,admin,affiliate,cable,comcast,dealers,fetchtoto,kiplinger,kjrh,kjrl,kmci,knxv,kshb,kypost,lasvegascars,media,nbc11,nbc5i,nbcchicago,nbcdfw,political,scripps,services,smartmoney,static,vehix,wcpo,wews,widgets,wfts,www"/>
			<add name="consumerWeb" hosts="abc15,affiliate,comcast,fetchtoto,kiplinger,kjrh,kjrl,kmci,knxv,kshb,kypost,lasvegascars,media,nbc11,nbc5i,nbcchicago,nbcdfw,political,scripps,services,smartmoney,static,vehix,wcpo,wews,widgets,wfts,www"/>
			<add name="consumerBlade" hosts="abc15,affiliate,comcast,fetchtoto,kiplinger,kjrh,kjrl,kmci,knxv,kshb,kypost,lasvegascars,media,nbc11,nbc5i,nbcchicago,nbcdfw,political,scripps,services,smartmoney,static,vehix,wcpo,wews,widgets,wfts,www"/>
			<add name="admin" hosts="account,admin,affiliate,cable,dealers"/>
			<add name="blank" hosts=""/>
			<add name="akamai" hosts="static,vehix,www"/>
			<add name="akamaiStaging" hosts="abc15,account,admin,affiliate,cable,comcast,dealers,fetchtoto,kiplinger,kjrh,kjrl,kmci,knxv,kshb,kypost,lasvegascars,media,nbc11,nbc5i,nbcchicago,nbcdfw,political,scripps,services,smartmoney,static,vehix,wcpo,wews,widgets,wfts,www"/>
			<add name="maintenance" hosts="maintenance"/>
		</bindings>
	</farmGroupBindings>
	<customHostsFileSettings>
		<hostsFiles>
			<!-- 
				THIS SECTION HAS BEEN DEPRECATED IN FAVOR OF ADDING USER SETTINGS BASED CUSTOM CONFIGURATIONS!
				
				A custom hosts file settings entry looks like this:
				
				<add name="custom1" notes="This is an example cutom hosts file." settings="127.0.0.1:www.autotrader.com;127.0.0.1:autotrader.com"/>
				
				The name and settings attributes are required, otherwise there will be a configuration exception. The name attribute may be virtually 
				anything. The settings attribute contains pair entries. The pair entries consist of an IP Address (usually 127.0.0.1) and a domain name
				which will redirect to the IP Address given. The IP Address comes first, the domain name second, and are separated by a colon (:). Pairs
				are separated by a semi-colon (;). The element name itself must be add, as in <add.../> or <add...></add>.
			-->
		</hostsFiles>
	</customHostsFileSettings>
</configuration>