<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="hostFileLocation" value="C:\WINDOWS\system32\drivers\etc\hosts"/>
	</appSettings>
	<servers>
		<addServer name="Prod-Admin-01" ipMask="10.1.1.2n" />
		<addServer name="Prod-Admin-02" ipMask="10.1.1.3n" />
		<addServer name="Prod-Web-Bl01" ipMask="10.1.1.17n" />
		<addServer name="Prod-Web-Bl02" ipMask="10.1.1.18n" />
		<addServer name="Prod-Web-Bl03" ipMask="10.1.1.19n" />
		<addServer name="Prod-Web-Bl04" ipMask="10.1.1.21n" />
		<addServer name="Prod-Web-Bl05" ipMask="10.1.1.22n" />
		<addServer name="Prod-Web-Bl06" ipMask="10.1.1.13n" />
		<addServer name="Prod-Web-Bl07" ipMask="10.1.1.14n" />
		<addServer name="Prod-Web-Bl08" ipMask="10.1.1.15n" />
		<addServer name="Prod-Web-Bl09" ipMask="10.1.1.16n" />
		<addServer name="Prod-Web-Bl10" ipMask="10.1.1.20n" />
		<addServer name="Prod-Webtest-01" ipMask="10.1.2.9n" />
		<addServer name="Staging-Web-01" ipMask="10.1.2.50n" />
		<addServer name="Staging-Web-02" ipMask="10.1.2.60n" />
		<addServer name="Staging-Web-03" ipMask="10.1.2.70n" />
		<addServer name="Qa-Web-01" ipMask="10.1.2.11n" />
		<addServer name="Qa-Web-02" ipMask="10.1.2.12n" />
		<addServer name="Qa-Web-03" ipMask="10.1.2.13n" />
		<addServer name="Qa-Web-04" ipMask="10.1.2.14n" />
		<addServer name="Qa-Web-05" ipMask="10.1.2.15n" />
	</servers>
	<hats>
		<add name="account" value="8" />
		<add name="admin" value="5" />
		<add name="abc15" value="0" />
		<add name="cable" value="7" />
		<add name="comcast" value="0" />
		<add name="dealers" value="6" />
		<add name="fetchtoto" value="0" />
		<add name="kiplinger" value="0" />
		<add name="kjrh" value="0" />
		<add name="kmci" value="0" />
		<add name="knxv" value="0" />
		<add name="kshb" value="0" />
		<add name="kypost" value="0" />
		<add name="lasvegascars" value="0" />
		<add name="media" value="2" />
		<add name="nbc11" value="0" />
		<add name="nbc5i" value="0" />
		<add name="nbcchicago" value="0" />
		<add name="nbcdfw" value="0" />
		<add name="raleigh" value="0" />
		<add name="scripps" value="0" />
		<add name="services" value="3" />
		<add name="smartmoney" value="0" />
		<add name="static" value="2" />
		<add name="wcpo" value="0" />
		<add name="wews" value="0" />
		<add name="widgets" value="1" />
		<add name="wfts" value="0" />
	</hats>
	<domain root="vehix.com" incluedWww="true" />
</configuration>