<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="consumer" value="0"/>
		<add key="widgets" value="1"/>
		<add key="media" value="2"/>
		<add key="static" value="2"/>
		<add key="services" value="3"/>
		<add key="admin" value="5"/>
		<add key="dealers" value="6"/>
		<add key="affiliate" value="7"/>
		<add key="cable" value="7"/>
		<add key="account" value="8"/>
		<add key="hats" value="abc15,comcast,fetchtoto,kiplinger,kjrh,kjrl,kmci,knxv,kshb,kypost,lasvegascars,nbc11,nbc5i,nbcchicago,nbcdfw,raleigh,scripps,smartmoney,vehix,wcpo,wews,widgets,wfts,www"/>
		<add key="vehix" value="vehix.com"/>
		<add key="hostFileLocation" value="C:\WINDOWS\system32\drivers\etc\hosts"/>
	</appSettings>
</configuration>