<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--
			These are server names of configuration types. These are names that may be used
			as command line arguments.
		-->
		<add key="blank" value=""/>
		<add key="akamai" value="96.17.0.155"/>
		<add key="maintenance" value="10.1.1.250"/>
		<add key="prod-admin-01" value="10.1.1.2n"/>
		<add key="prod-admin-02" value="10.1.1.3n"/>
		<add key="prod-admin-03" value="10.1.1.4n"/>
		<add key="prod-web-01" value="10.1.1.11n"/>
		<add key="prod-web-02" value="10.1.1.12n"/>
		<add key="prod-web-03" value="10.1.1.13n"/>
		<add key="prod-web-04" value="10.1.1.14n"/>
		<add key="prod-web-05" value="10.1.1.15n"/>
		<add key="prod-web-06" value="10.1.1.16n"/>
		<add key="prod-web-07" value="10.1.1.20n"/>
		<add key="prod-web-bl01" value="10.1.1.17n"/>
		<add key="prod-web-bl02" value="10.1.1.18n"/>
		<add key="prod-web-bl03" value="10.1.1.19n"/>
		<!--
			These are host aliases that will be used as alias.vehix.com in the host file, as 
			well as the corresponding value to replace n with in the server names.
		-->
		<add key="hostaliasAdmin" value="5"/>
		<add key="hostaliasDealers" value="6"/>
		<add key="hostaliasCable" value="7"/>
		<add key="hostaliasAffiliate" value="8"/>
		<add key="hostaliasVehix" value="0"/>
		<add key="hostaliasWww" value="0"/>
		<add key="hostaliasKiplinger" value="0"/>
		<add key="hostaliasSmartmoney" value="0"/>
		<add key="hostaliasComcast" value="0"/>
		<add key="hostaliasNbc5i" value="0"/>
		<add key="hostaliasWidgets" value="1"/>
		<add key="hostaliasStatic" value="2"/>
		<add key="hostaliasMedia" value="2"/>
		<add key="hostaliasPolitical" value="8"/>
		<!--
			These are aliases for aliases - if one is present here then it will fully 
			replace the alias of alias.vehix.com above.
		-->
		<add key="aliasPolitical" value="www.yourlocalpolitics.com"/>
		<add key="aliasVehix" value="vehix.com"/>
		<add key="aliasMaintenance" value="www.vehix.com"/>
		<add key="aliasAkamai" value="www.vehix.com"/>
		<!--
			These are the farm group groupings of servers.
			
			Values must be comma separated. Any amount of whitespace is allowed before or 
			after the commas, as it will be ignored.
		-->
		<add key="farmgroupConsumerWeb" value="prod-web-01,prod-web-02,prod-web-03,prod-web-04,prod-web-05,prod-web-06,prod-web-07,prod-web-08,prod-web-09,prod-web-10,prod-web-11,prod-web-12"/>
		<add key="farmgroupConsumerBlade" value="prod-web-bl01,prod-web-bl02,prod-web-bl03"/>
		<add key="farmgroupAdmin" value="prod-admin-01,prod-admin-02,prod-admin-03"/>
		<add key="farmgroupBlank" value="blank"/>
		<add key="farmgroupAkamai" value="akamai"/>
		<add key="farmgroupMaintenance" value="maintenance"/>
		<!--
			These are farm groups. This groups a farm with a particular set of aliases.
			
			Values must be comma separated. Any amount of whitespace is allowed before or 
			after the commas, as it will be ignored.
		-->
		<add key="groupConsumerWeb" value="vehix,www,kiplinger,smartmoney,comcast,nbc5i,media,political"/>
		<add key="groupConsumerBlade" value="vehix,www,kiplinger,smartmoney,comcast,nbc5i,widgets,media,political"/>
		<add key="groupAdmin" value="admin,dealers,cable,affiliate"/>
		<add key="groupBlank" value=""/>
		<add key="groupAkamai" value="akamai"/>
		<add key="groupMaintenance" value="maintenance"/>
		<!--
			This is the location of the host file. Most often this will never change.
		-->
		<add key="hostFileLocation" value="C:\WINDOWS\system32\drivers\etc\hosts"/>
	</appSettings>
</configuration>