body
{
	margin: 0;
	padding: 0;
	background-color: #7097CD;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 12px;
	text-align: center;
	color: #efefef;
}

form
{
	margin: 0;
	padding: 0;
}

img
{
	border: 0;
}

label,
input,
select,
textarea
{
	width: 100%;
	overflow: hidden;
}

p
{
	margin: 0 0 10px 0;
}

a:link,
a:active,
a:visited,
a:hover
{
	color: #efefef;
}

a:link,
a:active,
a:visited
{
	text-decoration: underline;
}

a:hover
{
	text-decoration: none;
}

legend
{
	color: #efefef;
}

fieldset
{
	border-bottom: #F0F0F0 2px solid;
	border-top: #F0F0F0 2px solid;
	border-right: #F0F0F0 2px solid;
	border-left: #F0F0F0 2px solid;
	padding: 4px 9px 7px 9px;
}

h3
{
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	padding: 0 0 4px;
}

.root
{
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
	text-align: left;
}

.formRow
{
	width: 100%;
	overflow: hidden;
}

.submit
{
	width: auto;
	float: right;
	height: 26px;
}

.breadcrumb
{
	width: 100%;
	overflow: hidden;
	background-color: #50779d;
	padding: 4px 0;
}

.breadcrumb ul
{
	list-style-type: none;
	margin: 0;
	padding: 0 0 0 10px;
	float: left;
}

.breadcrumb ul li
{
	float: left;
	margin-right: 10px;
}

.hide
{
	display: none;
}

.btContent
{
	display: none;
}

.bt-wrapper{
	text-align: left;
}
