.typeUnknown,
.typeDirectory,
.typexml,
.typehtml,
.typephp,
.typetxt,
.typepm,
.typepng,
.typesvg,
.typejpeg,
.typejpg,
.typegif
{
	background-image: url(../_img/FileManager-SmallIcons.gif);
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	overflow: hidden;
	margin: 0 auto;
}

.typeUpDirectory
{
	background-image: url(../_img/Darkboss_ReturnIcon.gif);
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	overflow: hidden;
	margin: 0 auto;
	background-position: 0 0;
}

.typeUnknown
{
	background-position: -48px 0;
}

.typeDirectory
{
	background-position: -16px 0;
}

.typexml,
.typehtml,
.typehtm
{
	background-position: -80px -16px;
}

.typetxt
{
	background-position: -16px -112px;
}

.typephp,
.typepm
{
	background-position: -48px -16px;
}

.typepng,
.typesvg,
.typejpeg,
.typejpg,
.typegif
{
	background-position: -48px -64px;
}
