body {
	background-color: #ffffff;
	color: #000000;
	text-align: left;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 10px;
	margin: 0px;
	padding: 0px;
}

.titlebarContainer {
	width: 100%;
	height: 26px;
	overflow: hidden;
	margin: 10px auto;
	float: none;
}

.titlebarTop {
	width: 100%;
	height: 3px;
	overflow: hidden;
	float: left;
}

.titlebarText {
	width: 100%;
	height: 20px;
	overflow: hidden;
	float: left;
}

.titleBarTitle {
	width: 150px;
	height: 20px;
	overflow: hidden;
	margin-left: 4px;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	float: left;
}

.linksBar {
	display: block;
	width: 150px;
	height: 20px;
	float: right;
	line-height: 20px;
	text-align: right;
	font-size: 12px;
	font-weight: bold;
	padding-right: 4px;
	color: #800000;
}

.linksBar a, a:link, a:active, a:visited {
	text-decoration: underline;
	color: #800000;
}

.linksBar a:hover {
	text-decoration: none;
	color: #800000;
}

.titlebarBottom {
	width: 100%;
	height: 3px;
	overflow: hidden;
	float: left;
}

.contentContainer {
	width: 700px;
	margin: 0px auto;
	float: none;
}

.lilNiceWebsiteBannerContainer {
	width: 700px;
	height: 200px;
	overflow: hidden;
	margin: 0px auto;
	float: none;
}

.lilNiceWebsiteBannerOverlay {
	width: 700px;
	height: 200px;
	overflow: hidden;
	margin: 0px auto;
	float: none;
	background-image: url('../_images/lnlbannercontainer.png');
}

.actualContentContainer {
	width: 700px;
	margin: 0px;
}

.footer {
	width: 700px;
	height: 12px;
	line-height: 12px;
	margin: 0px;
	overflow: hidden;
}

.leftColumn {
	width: 228px;
	background-color: #ffffff;
	float: left;
	padding-right: 4px;
	padding-bottom: 10px;
}

.rightColumn {
	width: 468px;
	background-color: #916f6f;
	float: left;
	margin-bottom: 10px;
}

.rightColumnInner {
	width: 460px;
	background-color: #ffffff;
	float: right;
	padding-left: 4px;
}

/* Colors */

.backgroundDarkRed {
	background-color: #800000;
}

.foregroundDarkRed {
	color: #800000;
}

.backgroundLightGray {
	background-color: #eeeeee;
}

.backgroundLightBrown {
	background-color: #916f6f;
}

.foregroundLightBrown {
	color: #916f6f;
}
