<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Server" value="irc.freenode.net"/>
		<add key="Port" value="6667"/>
		<add key="Nick" value="nathandelane01"/>
		<add key="Password" value="ebjvtlqt"/>
		<add key="RealName" value="Nathan Lane"/>
		<add key="LogFileName" value="Nathandelane.Net.Irc.log"/>
		<add key="LogFilePath" value="C:/Logs"/>
	</appSettings>
</configuration>