<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	<!--
		The following is a description of the keys in this, the upper section.
		
		Key: stayWithinWebSite		Possible Values: true or false
		Description: This tells the spider whether to follow links that go to external resources.
			
		Key: webSite				Possible Values: complete domain name of site under test
		Description: This is the part of the URL this is added for all URLs that don't have the website as part of their reference already.
			
		Key: domain					Possible Values: registered domain name
		Description: This is the domain used to check whether a link remains on the site or not (only checked on fully qualified URLs in links)
			
		Key: startingUrl			Possible Values: full http or https starting URL
		Description: This is where the spider will begin. It must be complete with http:// or https://
		
		Key: path					Possible Values: the path on the website, including querystring, of where to start
		Description: This is the path in the website where the spider will start running.
		
		Key: timeOut				Possible Values: milliseconds to wait before timing out
		Description: Number of milliseconds to wait for a response to be returned from the server.
		
		Key: onlyFollowUniques		Possible Values: true or false
		Description: This tells the spider whether it should track URLs to ensure that it only follows unique URLs.
		
		Key: ingoreCertificateErrors Possible Values: true or false
		Description: If you have bad certificates which are correct in production environments, then you may set this to true, in order to resolve
		possible false negatives.
		
		Key: logErrorOnWords		Possible Values: comma separated list of phrases
		Description: List of phrases to look for in page titles that would indicate an error, in case your error pages return HTTP 200 instead of 
		correct error codes.
		
		Key: useStartupQueue		Possible Values: true or false
		Description: Because some web sites have nearly an (percetible) infinite number of pages, the spider may run out of memory before it runs
		out of pages. In that case, or in the case that some error occurs, the spider can both save the URL list in its queue and reload it when 
		you run it again.
		
		Key: maxRemainingMemoryAtExit Possible Values: Megabytes (float)
		Description: The number of megabytes that you allow to be remaining available in RAM before the spider quits on its own. It's like a memory
		failsafe, otherwise you may end up waiting until the spider crashes before it stops, which may be unacceptable.
		
		Key: loggingType			Possible Values: Rotate or Reuse
		Description: If you choose Reuse, then the spider always logs to the same file, resetting it on each consecutive run. If you choose rotate,
		then the spider always logs to a new file, named based on the data and time of the run.
		
		Key: searchForText			Possible Values: pipe (|) separated list of values to look for while spidering.
		Description: The spider will stop upon finding one of the phrases in a page.
	-->
	<add key="stayWithinWebSite" value ="true"/>
	<add key="webSite" value="www.vehix.com"/>
	<add key="domain" value="vehix.com"/>
	<add key="startingUrl" value="http://qa-web-01.www.vehix.com"/>
	<add key="path" value="/?zip=84106"/>
	<add key="timeOut" value="30000"/>
	<add key="onlyFollowUniques" value="true"/>
	<add key="ignoreCertificateErrors" value="true"/>
	<add key="logErrorOnWords" value="Error"/>
	<add key="useStartupQueue" value="true"/>
	<add key="maxRemainingMemoryAtExit" value="500"/>
	<add key="loggingType" value="Rotate"/>
	<add key="searchForText" value="smo@vehix.com"/>
	
	<!-- The following are the possible zones for particular pages, but do not include default here. 
	     In the future I hope to replace this with a configuration section, but I don't know enough about those yet. -->
	<add key="zoneAutomotive" value="article"/>
	<add key="zoneCommunity" value="admin,blogs,road-trips"/>
	<add key="zoneCorporate/aboutUs" value="bios,contributors,optout,privacypolicy,privacypolicysms,usageterms"/>
	<add key="zoneCorporate/conactUs" value="dealerinquiry,dealerinquirysent"/>
	<add key="zoneCorporate/help" value="consumerprotection,emailus"/>
	<add key="zoneDealer" value="findadealer"/>
	<add key="zoneError" value="feedback,feedbackerror,feedbacksent,maintenance,pagenotfound,temporary,unauthorized"/>
	<add key="zoneFinance" value="auto-loans,auto-calculators,creditreport,auto-insurance,isleasingbetter,leasingcenter,purchase-options"/>
	<add key="zoneFinance/autoLoans" value="applyonline,loanvslease,pitfallsolutions,tips"/>
	<add key="zoneFinance/calculators" value="auto-loan,home-equity-vs-auto-loan,lease-vs-buy,low-interest-financing,rebate-vs-low-interest"/>
	<add key="zoneFinance/insurance" value="basiccoverageterms,getthebestdeals,helpfulreminders,requestquotes,whatyouneed,whynetquote"/>
	<add key="zoneFinance/leasingCenter" value="commonterms,isleasingright,leasingfaq,loanvslease"/>
	<add key="zoneFinance/purchaseOptions" value="knowyouroptions"/>
	<add key="zoneGreen" value="green-articles,green-vehicles,green-video,search-green-vehicles"/>
	<add key="zoneInventory" value="both,consumerreviewcomments,consumerreviews,vehicledetails,details,expertreviews,new,notfound,requestsent,search,used"/>
	<add key="zoneMyVehix" value="changeemail,changepassword,forgotpassword,login,loginpopup,logout,membershipstatus,myads,myalerts,mycars,myprofile,my-road-trips,mysummary,registration,savepopup,upgradead"/>
	<add key="zoneResearch" value="articles-and-top-vehicles,available-trims,build,build-details,carfax,category,category-results,certifiedpre-owned,compare-details,comparisonprint,comparisonselectvehicle,comparisontool,consumer-review-comments,consumer-review-details,free-price-quote,free-price-quote-thank-you,gallery-ddetails,make,new-cars,previewdetails,previews,requestsent,review-details,reviews,safety,safetydetails,safetyratings,specification-details,statedmvinfo,toptendefault,toptenlists,usedvehiclevaluedetails,usedvehiclevalues,vehiclespecifications,video-details"/>
	<add key="zoneResearch/ICOTY" value="mostathletic,mostcompatible,mostdependable,mostresourceful,mostrespected,mostsexappeal,mostspirited,mostversatile,truckoftheyear"/>
	<add key="zoneResearch/safety" value="airbags,autosafetyfeaturestips,invehiclesafetydevices,vehiclesafetytechnology"/>
	<add key="zoneSell-your-car" value="create-free-listing,create-listing,create-listing-purchase,create-listing-step-2,create-listing-step-3,create-listing-step-4,create-listing-step-5,create-listing-thankyou,create-listing-upgrade,create-listing-upgrade-photos,editad,editadphotos,trial-pay"/>
	<add key="zoneVideo" value="syndicatedvideo"/>
  </appSettings>
</configuration>
