<?xml version="1.0" encoding="utf-8" ?>
<!--
	This is the App.config file for Nethandelane.Net.Spider
-->
<configuration>
	<appSettings>
		<add key="ignoreBadCertificates" value="true"/>
		<add key="allowAutoRedirects" value="true"/>
		<add key="checkImages" value="false"/>
	</appSettings>
</configuration>