<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	<add key="stayWithinWebSite" value ="true"/>
	<add key="webSite" value="www.vehix.com"/>
	<add key="domain" value="vehix.com"/>
	<add key="startingUrl" value="http://qa-web-01.www.vehix.com"/>
	<add key="path" value="/?zip=84106"/>
	<add key="timeOut" value="30000"/>
	<add key="onlyFollowUniques" value="true"/>
	
	<!-- The following are the possible zones for particular pages, but do not include default here. 
	     In the future I hope to replace this with a configuration section, but I don't know enough about those yet. -->
	<add key="zoneAutomotive" value="article"/>
	<add key="zoneCommunity" value="admin,blogs,road-trips"/>
	<add key="zoneCorporate/aboutUs" value="bios,contributors,optout,privacypolicy,privacypolicysms,usageterms"/>
	<add key="zoneCorporate/conactUs" value="dealerinquiry,dealerinquirysent"/>
	<add key="zoneCorporate/help" value="consumerprotection,emailus"/>
	<add key="zoneDealer" value="findadealer"/>
	<add key="zoneError" value="feedback,feedbackerror,feedbacksent,maintenance,pagenotfound,temporary,unauthorized"/>
	<add key="zoneFinance" value="autoloans,calculators,creditreport,insurance,isleasingbetter,leasingcenter,purchaseoptions"/>
	<add key="zoneFinance/autoLoans" value="applyonline,loanvslease,pitfallsolutions,tips"/>
	<add key="zoneFinance/calculators" value="autoloan,homeequityvsautoloan,leasevsbuy,lowinterestfinancing,rebatevslowinterest"/>
	<add key="zoneFinance/insurance" value="basiccoverageterms,getthebestdeals,helpfulreminders,requestquotes,whatyouneed,whynetquote"/>
	<add key="zoneFinance/leasingCenter" value="commonterms,isleasingright,leasingfaq,loanvslease"/>
	<add key="zoneFinance/purchaseOptions" value="knowyouroptions"/>
	<add key="zoneGreen" value="green-articles,green-vehicles,green-video,search-green-vehicles"/>
	<add key="zoneInventory" value="both,consumerreviewcomments,consumerreviews,details,expertreviews,new,notfound,requestsent,search,used"/>
	<add key="zoneMyVehix" value="changeemail,changepassword,forgotpassword,login,loginpopup,logout,membershipstatus,myads,myalerts,mycars,myprofile,my-road-trips,mysummary,registration,savepopup,upgradead"/>
	<add key="zoneResearch" value="articles-and-top-vehicles,available-trims,build,build-details,carfax,category,category-results,certifiedpre-owned,compare-details,comparisonprint,comparisonselectvehicle,comparisontool,consumer-review-comments,consumer-review-details,free-price-quote,free-price-quote-thank-you,gallery-ddetails,make,new-cars,previewdetails,previews,requestsent,review-details,reviews,safety,safetydetails,safetyratings,specification-details,statedmvinfo,toptendefault,toptenlists,usedvehiclevaluedetails,usedvehiclevalues,vehiclespecifications,video-details"/>
	<add key="zoneResearch/ICOTY" value="mostathletic,mostcompatible,mostdependable,mostresourceful,mostrespected,mostsexappeal,mostspirited,mostversatile,truckoftheyear"/>
	<add key="zoneResearch/safety" value="airbags,autosafetyfeaturestips,invehiclesafetydevices,vehiclesafetytechnology"/>
	<add key="zoneSell-your-car" value="create-free-listing,create-listing,create-listing-purchase,create-listing-step-2,create-listing-step-3,create-listing-step-4,create-listing-step-5,create-listing-thankyou,create-listing-upgrade,create-listing-upgrade-photos,editad,editadphotos,trial-pay"/>
	<add key="zoneVideo" value="syndicatedvideo"/>
  </appSettings>
</configuration>