<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CmdExecutionString" value="C:\Windows\system32\cmd.exe"/>
		<add key="CmdArguments" value=""/>
		<add key="CygWinExecutionString" value="C:\cygwin\bin\bash.exe"/>
		<add key="CygWinArguments" value="--login -i"/>
		<add key="PowerShellExecutionString" value="C:\Windows\system32\WindowsPowerShell\v1.0\powershell.exe"/>
	</appSettings>
</configuration>