<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="parserName" value="Nathandelane.Math.PersonalCalculator.ArithmeticParser"/>
		<add key="postfixatorName" value="Nathandelane.Math.PersonalCalculator.ArithmeticPostfixator"/>
		<add key="postfixEvaluatorName" value="Nathandelane.Math.PersonalCalculator.ArithmeticPostfixEvaluator"/>
	</appSettings>
</configuration>