<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>WatiN controls usings statements</Title>
		</Header>
		<Snippet>
			<Code Language="CSharp">
				<![CDATA[
				using WatiN.Core;
				using WatiN.Core.Constraints;
				]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>
