body
{
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
	color: #ffffff;
	background-color: #ffffff;
	text-align: center;
}

img
{
	border: 0;
}

.root
{
	width: 963px;
	overflow: auto;
	margin: 10px auto;
	padding: 10px;
	background-color: #6082a8;
	text-align: left;
}

.header
{
	width: 963px;
	overflow: hidden;
	padding-bottom: 10px;
}