<?xml version="1.0" encoding="utf-8" ?>
<!--
	This is the App.config file for Nethandelane.Net.Spider.WebCrawler
-->
<configuration>
	<appSettings>
		<add key="startingUrl" value="http://qa-web-01.www.vehix.com"/>
		<add key="path" value="/?zip=84106"/>
		<add key="stayWithinWebsite" value="true"/>
		<add key="website" value="qa-web-01.www.vehix.com"/>
		<add key="onlyFollowUniques" value="true"/>
		<add key="ignoreBadCertificates" value="true"/>
		<add key="checkImages" value="false"/>
		<add key="defaultCookies" value="zip=84106"/>
		<add key="cookieDomain" value="vehix.com"/>
	</appSettings>
</configuration>