<?xml version="1.0" encoding="utf-8" ?>
<!--
	This is the App.config file for Nethandelane.Net.Spider.WebCrawler
	
	startinUrl: is the first web page that the spider will start on, the domain portion only.
	path: is any significant path after the domain upon which to start the spider.
	stayWithinWebsite: instructs the spider whether or not to "click" on links pointing to external resources.
	website: is the website to stay within when stayWithinWebsite is true.
	onlyFollowUniques: instructs the spider whether it should follow links that are exactly the same. Links are saved as MD5 hashes for comparison later on.
	ignoreBadCertificates: instructs the spider whether it should ignore bad HTTPS certificates. This is good for Qa and Staging environments where we don't have significant cert resources.
	checkImages: instructs the spider whether it should check the images on each page that it browses to.
	defaultCookies: is an ampersand separated key-value pair string containing default cookie values. The zip code is often set here.
	cookieDomain: is the significant domain for the cookie. The default of vehix.com is usually good enough.
	limitRunTime: is the amount of time after which the spider should stop crawling if it is set (minutes). If it is not set then the spider will run forever. -1 is equivalent to not setting it.
	limitMemoryUsage: instructs the spider to stop running when the remainder memory is equal to or exceeds the amount given in megabytes. -1 is equivalent to not setting it.
	timeout: sets the maximum timeout for the agent in milliseconds.
-->
<configuration>
	<appSettings>
		<add key="startingUrl" value="http://www.ultradent.com"/>
		<add key="path" value="/"/>
		<add key="stayWithinWebsite" value="true"/>
		<add key="website" value="www.ultradent.com"/>
		<add key="onlyFollowUniques" value="true"/>
		<add key="ignoreBadCertificates" value="false"/>
		<add key="checkImages" value="false"/>
		<add key="defaultCookies" value=""/>
		<add key="cookieDomain" value="ultradent.com"/>
		<add key="limitRunTime" value="30"/>
		<add key="limitMemoryUsage" value="385"/>
		<add key="timeout" value="15000"/>
	</appSettings>
</configuration>