<?xml version="1.0" encoding="utf-8" ?>
<!--
	This is the App.config file for Nethandelane.Net.Spider.WebCrawler
-->
<configuration>
	<appSettings>
		<add key="startingUrl" value="http://www.vehix.com/"/>
		<add key="stayWithinWebsite" value="true"/>
		<add key="website" value="www.vehix.com"/>
		<add key="onlyFollowUniques" value="true"/>
	</appSettings>
</configuration>