/*
 * Author: Nathan Lane
 * Notes:
 *  z-index is not applicable unless we use absolut or relative positioning. If we use automatic positioning like we are right now, then it doesn't do anything to include it.
 */

.storeContainer {
	width: 922px;
	height: 677px;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}

.storeTopBarContainer {
	width: 922px;
	height: 26px;
	padding: 14px 0px 0px 0px;
	overflow: hidden;
	background-image: url('../_images/longtopbarbackground.png');
	float: left;
	text-align: center;
}

.storePanelContainer {
	width: 872px;
	height: 643px;
	overflow: hidden;
	float: left;
	margin: 0px 25px 0px 25px;
	background-image: url('../_images/storepanelbackground.png');
}

.storeControlPanel {
	width: 832px;
	height: 60px;
	overflow: hidden;
	float: left;
	margin: 0px 0px 0px 0px;
	padding: 10px 20px 0px 20px;
}

.controlPanelRow {
	width: 832px;
	height: 20px;
	overflow: hidden;
	float: left;
	margin: 0px 0px 0px 0px;
	padding: 0px 10px 10px 0px;
}

.controlPanelColumn {
	height: 20px;
	overflow: hidden;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.controlPanelLabel {
	display: block;
	height: 17px;
	font-size: 12px;
	line-height: 12px;
	text-align: right;
	margin: 0px 10px 0px 0px;
	padding: 3px 0px 0px 0px;
	overflow: hidden;
	float: left;
}

.controlSelector {
	border-color: #828282;
	border-style: solid;
	border-width: 1px;
	background-color: #272727;
	color: #ffffff;
}

.pagingControls {
	height: 17px;
	font-size: 12px;
	line-height: 12px;
	text-align: right;
	margin: 0px 0px 0px 0px;
	padding: 3px 0px 0px 0px;
	overflow: hidden;
}

.pagingControls a, a:link, a:visited, a:active {
	margin: 0px 0px 0px 5px;
	text-decoration: none;
	color: #ffffff;
}

.pagingControls a:hover {
	text-decoration: underline;
	color: #ffffff;
}

.pagingControls a, a:link, a:visited, a:active, a:hover .pagingLink {
	font-weight: bold;
}

.storePage {
	width: 852px;
	height: 540px;
	overflow: hidden;
	float: left;
	margin: 0px 0px 0px 0px;
	padding: 10px 10px 0px 10px;
}

.storePageInner {
	width: 790px;
	height: 540px;
	overflow: auto;
	float: left;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

table.storePageTable {
	border-collapse: collapse;
	empty-cells: show;
	table-layout: fixed;
	border-width: 0px;
	width: 760px;
	margin: 1px 0px 0px 1px;
}

table.storePageTable td {
	width: 190px;
	height: 270px;
	margin: 0px;
	padding: 0px;
	border-width: 1px;
	border-color: #fefefe;
	border-style: dotted;
}

.itemContainer {
	width: 170px;
	height: 240px;
	overflow: hidden;
	border: 0px;
	float: left;
	margin: 15px 10px 15px 10px;
}

.itemImage {
	width: 170px;
	height: 180px;
	overflow: hidden;
	float: left;
	margin: 0px 0px 0px 0px;
}

.itemDetails {
	font-size: 12px;
	line-height: 12px;
	width: 170px;
	height: 50px;
	overflow: hidden;
	float: left;
	margin: 10px 0px 0px 0px;
}

.description {
	font-weight: bold;
	margin: 0px 0px 2px 0px;
}

.originalPrice {
	font-weight: normal;
}

.salePrice {
	color: #ff0000;
}

/*
select {
	border-color: #828282;
	border-style: solid;
	border-width: 1px;
	background-color: #272727;
	color: #ffffff;
}
*/
