/*
 * Author: Nathan Lane
 * Notes:
 *  z-index is not applicable unless we use absolut or relative positioning. If we use automatic positioning like we are right now, then it doesn't do anything to include it.
 */

.profileContainer {
	width: 922px;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}

.profileTopBarContainer {
	width: 922px;
	height: 26px;
	padding: 14px 0px 0px 0px;
	overflow: hidden;
	background-image: url('../_images/longtopbarbackground.png');
	text-align: center;
}

.profilePanelContainer {
	width: 872px;
	height: 532px;
	overflow: hidden;
	margin: 0px auto 0px auto;
	background-image: url('../_images/mediumpanelbackground.png');
}

.profilePanelInner {
	width: 792px;
	height: 504px;
	overflow: hidden;
	margin: 20px auto 8px auto;
}

.bottomAdContainer {
	width: 520px;
	height: 110px;
	overflow: hidden;
	margin: 12px auto 0px auto;
}

.bottomAdIFrame {
	width: 520px;
	height: 110px;
	overflow: hidden;
	float: left;
	margin: 0px;
	border: 0px;
}

.leftColumn {
	width: 204px;
	height: 504px;
	overflow: hidden;
	float: left;
	margin: 0px;
}

.currentProfilePhoto {
	width: 204px;
	height: 213px;
	overflow: hidden;
	float: left;
	margin: 0px;
}

.currentProfilePhoto img {
	width: 204px;
	height: 213px;
}

.otherPhotosPanel {
	width: 204px;
	height: 136px;
	overflow: hidden;
	float: left;
	margin: 0px;
	padding: 24px 0px 10px 0px;
}

.otherPhoto {
	width: 43px;
	height: 43px;
	overflow: hidden;
	float: left;
	margin: 0px 0px 20px 20px;
}

.morePhotosLink {
	width: 204px;
	height: 14px;
	font-size: 10px;
	text-align: right;
	float: left;
}

.morePhotosLink a, a:link, a:visited, a:active {
	display: block;
	width: 190px;
	height: 14px;
	text-decoration: underline;
	color: #ffffff;
	padding: 0px 14px 0px 0px;
	float: left;
}

.morePhotosLink a:hover {
	display: block;
	width: 190px;
	height: 14px;
	text-decoration: none;
	color: #ffffff;
	padding: 0px 14px 0px 0px;
	float: left;
}

.otherPhoto img {
	width: 43px;
	height: 43px;
}

.rightColumn {
	width: 550px;
	height: 504px;
	margin: 0px 0px 0px 32px;
	overflow: hidden;
	float: left;
}

