/*
 * Author: Nathan Lane
 * Notes:
 *  z-index is not applicable unless we use absolut or relative positioning. If we use automatic positioning like we are right now, then it doesn't do anything to include it.
 */

body {
	font-family: Arial,sans-serif;
	font-size: 10px;
	font-weight: normal;
	font-variant: normal;
	font-style: normal;
	font-stretch: normal;
	font-size-adjust: none;
	line-height: 10px;
	margin: 0px;
	padding: 0px;
	color: #ffffff;
	background: #191919 url('../_images/repeatablebackground.png') repeat-y scroll center top;
}

img {
	border: 0px;
}

a, a:link, a:active, a:hover, a:visited {
	border: 0px;
	text-decoration: none;
}
.pageContainer {
	width: 958px;
	/*height: 985px;*/
	margin: 23px auto 0px auto;
	background-color: #191919;
}

.innerContainer {
	width: 922px;
	height: 985px;
	margin: 0px 18px 0px 18px;
	overflow: hidden;
}

.banner {
	width: 922px;
	height: 198px; /*116px;*/
	margin: 0px;
	overflow: hidden;
	background-image: url('../_images/headerbar.png');
}

.siteMapBar {
	width: 922px;
	height: 55px;
	float: left;
}

.siteMap {
	width: 792px;
	height: 55px;
	padding-left: 128px;
	letter-spacing: 1.5px;
}

.createYourAccountButton {
	width: 183px;
	height: 39px;
	overflow: hidden;
	margin-top: 10px;
	margin-right: 13px;
	text-align: center;
	float: left;
	background-image: url('../_images/bluebuttontop.png');
	cursor: pointer;
}

.createYourAccountButtonGone {
	width: 183px;
	height: 39px;
	overflow: hidden;
	margin-top: 10px;
	margin-right: 13px;
	text-align: center;
	float: left;
}

.languageSelectorButton {
	width: 23px;
	height: 10px;
	margin-top: 23px;
	margin-right: 8px;
	overflow: hidden;
	float: left;
	cursor: pointer;
}

.arrowImage {
	width: 6px;
	height: 10px;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	float: left;
	background-image: url('../_images/arrow.png');
}

.languageSetting {
	width: 16px;
	height: 10px;
	overflow: hidden;
	font-size: 9px;
	font-weight: normal;
	float: left;
	background-image: url('../_images/languagelist.png');
}

.flagContainer {
	width: 25px;
	height: 18px;
	overflow: hidden;
	margin-top: 20px;
	float: left;
	background-image: url('../_images/us.png');
	background-repeat: no-repeat;
}

.footerBar {
	width: 922px;
	height: 65px;
	overflow: hidden;
	float: left;
	margin: 10px 0px 0px 0px;
	background-image: url('../_images/footerbar.png');
}

.siteMap2 {
	width: 512px;
	height: 55px;
	padding-left: 228px;
	letter-spacing: 1.5px;
	float: left;
}

.copyrightBar {
	width: 922px;
	height: 12px;
	line-height: 12px;
	overflow: hidden;
	float: left;
	text-align: center;
	margin: 0px 0px 0px 0px;
}

.languageTextMenu {
	position: relative;
	left: 834px;
	top: -34px;
	width: 39px;
	height: 50px;
	overflow: scroll;
	float: left;
	background-color: #1d87ff;
	color: #ffffff;
	padding-left: 7px;
	border: 1px solid #000000;
}

.languageText {
	cursor: pointer;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}
