/*
 * Author: Nathan Lane
 * Notes:
 *  z-index is not applicable unless we use absolut or relative positioning. If we use automatic positioning like we are right now, then it doesn't do anything to include it.
 */

h4 {
	margin: 0px;
	padding: 0px;
}
 
/* User Control - Header Bar */

div.siteMap ul {
	display: inline;
	margin: 0px;
	padding: 0px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-top: 21px;
	margin-right: 18px;
	float: left;
}

div.siteMap ul li {
	display: inline;
	margin-right: 2px;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 2px;
}

div.siteMap ul li a, a:link, a:active, a:visited {
	font-weight: normal;
	display: inline;
	text-decoration: none;
	color: #ffffff;
}

div.siteMap ul li a:hover {
	font-weight: normal;
	display: inline;
	text-decoration: underline;
	color: #ffffff;
}

/* Homeppage - Choose your art */

div.chooseYourArtMenuContainer ul {
	margin: 0px;
	padding: 0px;
	list-style-image: url('../_images/doublearrows.png');
	margin-top: 7px;
	margin-right: 44px;
	float: left;
}

div.chooseYourArtMenuContainer ul li.link {
	display: block;
	margin: 0px 2px 0px 0px;
	padding: 7px 0px 7px 0px;
	list-style-image: url('../_images/doublearrows.png');
	font-size: 12px;
	font-weight: normal;
}

div.chooseYourArtMenuContainer ul li.separator {
	list-style-image: none;
	list-style-type: none;
	list-style-position: inside;
	display: block;
	margin: 0px;
	padding: 0px;
}

div.chooseYourArtMenuContainer ul li a, a:link, a:active, a:visited {
	display: block;
	width: 155px;
	text-decoration: none;
	color: #ffffff;
}

div.chooseYourArtMenuContainer ul li a:hover {
	display: block;
	width: 155px;
	text-decoration: underline;
	color: #ffffff;
}

div.chooseYourArtMenuContainer ul li a span {
	display: block;
	width: 13px;
	height: 10px;
	overflow: hidden;
	float: left;
	background-image: url('../_images/doublearrows.png');
	background-repeat: no-repeat;
	margin: 0px 7px 0px 0px;
}

/* MORE link for selected profiles */

.selectedProfileMoreLink a, a:link, a:visited, a:active {
	text-decoration: underline;
	color: #ffffff;
}

.selectedProfileMoreLink a:hover {
	text-decoration: none;
	color: #ffffff;
}

/* Site map - Footer bar */

div.siteMap2 ul {
	display: inline;
	margin: 0px;
	padding: 0px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-top: 28px;
	margin-right: 44px;
	float: left;
}

div.siteMap2 ul li {
	display: inline;
	margin-right: 2px;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 2px;
}

div.siteMap2 ul li a, a:link, a:active, a:visited {
	font-weight: normal;
	display: inline;
	text-decoration: none;
	color: #ffffff;
}

div.siteMap2 ul li a:hover {
	font-weight: normal;
	display: inline;
	text-decoration: underline;
	color: #ffffff;
}

/* Copyright text */

.copyright {
	font-size: 9px;
	color: #636363;
}

/* Colors */

.backgroundBlueZamBlue {
	background-color: #1d87ff;
}

.foregroundBlueZamBlue {
	color: #1d87ff;
}

.backgroundBlueZamGray {
	background-color: #fefefe;
}

.backgroundBlueZamDarkGray {
	background-color: #272727;
}

.backgroundRed {
	background-color: #800000;
}

.backgroundOrange {
	background-color: #ff5400;
}

.backgroundGreen {
	background-color: #308100;
}

.backgroundWhite {
	background-color: #ffffff;
}

/* Containers and layout properties found in the template named default.php */

body {
	font-family: Arial,sans-serif;
	font-size: 10px;
	font-weight: normal;
	font-variant: normal;
	font-style: normal;
	font-stretch: normal;
	font-size-adjust: none;
	line-height: 10px;
	margin: 0px;
	padding: 0px;
	color: #ffffff;
	background: #191919 url('../_images/repeatablebackground.png') repeat-y scroll center top;
}

img {
	border: 0px;
}

a, a:link, a:active, a:hover, a:visited {
	border: 0px;
	text-decoration: none;
}

div.pageContainer {
	width: 958px;
	margin: 23px auto 0px auto;
	background-color: #191919;
}

div.innerContainer {
	width: 922px;
	margin: 0px 18px 0px 18px;
	overflow: hidden;
}

div.banner {
	width: 922px;
	height: 198px;
	margin: 0px;
	overflow: hidden;
	background-image: url('../_images/headerbar.png');
}

div.siteMapBar {
	width: 922px;
	height: 55px;
	float: left;
}

div.siteMap {
	width: 792px;
	height: 55px;
	padding-left: 128px;
	letter-spacing: 1.5px;
}

.createYourAccountButton {
	width: 183px;
	height: 39px;
	overflow: hidden;
	margin-top: 10px;
	margin-right: 13px;
	text-align: center;
	float: left;
	background-image: url('../_images/bluebuttontop.png');
	cursor: pointer;
}

.createYourAccountButtonGone {
	width: 183px;
	height: 39px;
	overflow: hidden;
	margin-top: 10px;
	margin-right: 13px;
	text-align: center;
	float: left;
}

.languageSelectorButton {
	width: 23px;
	height: 10px;
	margin-top: 23px;
	margin-right: 8px;
	overflow: hidden;
	float: left;
	cursor: pointer;
}

.arrowImage {
	width: 6px;
	height: 10px;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	float: left;
	background-image: url('../_images/arrow.png');
}

.languageSetting {
	width: 16px;
	height: 10px;
	overflow: hidden;
	font-size: 9px;
	font-weight: normal;
	float: left;
	background-image: url('../_images/languagelist.png');
}

.flagContainer {
	width: 25px;
	height: 18px;
	overflow: hidden;
	margin-top: 20px;
	float: left;
	background-image: url('../_images/us.png');
	background-repeat: no-repeat;
}

.footerBar {
	width: 922px;
	height: 65px;
	overflow: hidden;
	float: left;
	margin: 10px 0px 0px 0px;
	background-image: url('../_images/footerbar.png');
}

.siteMap2 {
	width: 692px;
	height: 55px;
	padding-left: 228px;
	letter-spacing: 1.5px;
	float: left;
}

.copyrightBar {
	width: 922px;
	height: 12px;
	line-height: 12px;
	overflow: hidden;
	float: left;
	text-align: center;
	margin: 0px 0px 0px 0px;
}

.languageTextMenu {
	position: relative;
	left: 834px;
	top: -34px;
	width: 39px;
	height: 50px;
	overflow: scroll;
	float: left;
	background-color: #272727;
	color: #ffffff;
	padding-left: 7px;
	border: 1px solid #000000;
}

.languageText {
	cursor: pointer;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.floatNone {
	float: none;
}

.headingMajor {
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1.5px;
}

.headingMinor {
	font-size: 11px;
	font-weight: bold;
}

/* Blue Zam Profile page */

.profileContainer {
	width: 922px;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}

.profileTopBarContainer {
	width: 922px;
	height: 26px;
	padding: 14px 0px 0px 0px;
	overflow: hidden;
	background-image: url('../_images/longtopbarbackground.png');
	text-align: center;
}

.profilePanelContainer {
	width: 872px;
	height: 532px;
	overflow: hidden;
	margin: 0px auto 0px auto;
	background-image: url('../_images/mediumpanelbackground.png');
}

.profilePanelInner {
	width: 792px;
	height: 504px;
	overflow: hidden;
	margin: 20px auto 8px auto;
}

.bottomAdContainer {
	width: 520px;
	height: 110px;
	overflow: hidden;
	margin: 12px auto 0px auto;
}

.bottomAdIFrame {
	width: 520px;
	height: 110px;
	overflow: hidden;
	float: left;
	margin: 0px;
	border: 0px;
}

.profileLeftColumn {
	width: 204px;
	height: 504px;
	overflow: hidden;
	float: left;
	margin: 0px;
}

.currentProfilePhoto {
	width: 204px;
	height: 213px;
	overflow: hidden;
	float: left;
	margin: 0px;
}

.currentProfilePhoto img {
	width: 204px;
	height: 213px;
}

.otherPhotosPanel {
	width: 204px;
	height: 136px;
	overflow: hidden;
	float: left;
	margin: 0px;
	padding: 24px 0px 10px 0px;
}

.otherPhoto {
	width: 43px;
	height: 43px;
	overflow: hidden;
	float: left;
	margin: 0px 0px 20px 20px;
}

.otherPhoto a img {
	width: 43px;
	height: 43px;
}

.profileRightColumn {
	width: 550px;
	height: 504px;
	margin: 0px 0px 0px 32px;
	overflow: auto;
	float: left;
}

.profileRightColumnInner {
	width: 500px;
	height: 1000px;
	margin: 0px 30px 0px 0px;
	overflow: hidden;
	float: left;
	border-left: 1px dotted #fefefe;
	border-right: 1px dotted #fefefe;
}

.profileRightColumnHeader {
	width: 430px;
	height: 18px;
	font-size: 12px;
	line-height: 12px;
	margin: 16px 20px 16px 20px;
	border: 0px;
	overflow: hidden;
	color: #ffffff;
	padding: 5px 15px 0px 15px;
	font-weight: bold;
	float: left;
}

.profileUserName {
	height: 18px;
	margin: 0px;
	padding: 0px;
	float: left;
	overflow: hidden;
	font-weight: bold;
}

.profileExternalBlogLink {
	height: 18px;
	margin: 0px;
	padding: 0px;
	float: right;
	overflow: hidden;
	font-weight: bold;
}

.profileInfo {
	width: 460px;
	margin: 0px 5px;
	padding: 0px;
	font-size: 11px;
	line-height: 11px;
	float: left;
}

.profileInfoInner {
	width: 460px;
	margin: 0px 0px 0px 16px;
	padding: 0px;
	float: left;
}

.profileInfoRow {
	float: left;
	padding: 0px 0px 3px 0px;
}

.profileLabel {
	display: block;
	width: 120px;
	text-align: left;
	color: #a1a1a1;
	float: left;
}

.profileData {
	display: block;
	width: 340px;
	text-align: left;
	color: #ffffff;
	float: left;
}

a.profileBlogLink, a:link.profileBlogLink, a:active.profileBlogLink, a:visited.profileBlogLink {
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
}

a:hover.profileBlogLink {
	font-weight: bold;
	text-decoration: underline;
	conolr: #ffffff;
}

a.morePhotos {
	display: block;
	width: 204px;
	height: 14px;
	text-align: right;
	float: left;
	margin: 0px 0px 0px 0px;
	font-weight: normal;
}

a:link.morePhotos, a:active.morePhotos, a:visited.morePhotos {
	display: block;
	width: 204px;
	height: 14px;
	font-weight: normal;
	text-decoration: none;
	color: #ffffff;
	margin: 0px 0px 0px 0px;
	text-align: right;
}

a:hover.morePhotos {
	display: block;
	width: 204px;
	height: 14px;
	font-weight: normal;
	text-decoration: underline;
	color: #ffffff;
	margin: 0px 0px 0px 0px;
	text-align: right;
}

/* Blue Zam Store */

.storeContainer {
	width: 922px;
	height: 677px;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}

.storeTopBarContainer {
	width: 922px;
	height: 26px;
	padding: 14px 0px 0px 0px;
	overflow: hidden;
	background-image: url('../_images/longtopbarbackground.png');
	float: left;
	text-align: center;
}

.storePanelContainer {
	width: 872px;
	height: 643px;
	overflow: hidden;
	float: left;
	margin: 0px 25px 0px 25px;
	background-image: url('../_images/largepanelbackground.png');
}

.storeControlPanel {
	width: 832px;
	height: 60px;
	overflow: hidden;
	float: left;
	margin: 0px 0px 0px 0px;
	padding: 10px 20px 0px 20px;
}

.controlPanelRow {
	width: 832px;
	height: 20px;
	overflow: hidden;
	float: left;
	margin: 0px 0px 0px 0px;
	padding: 0px 10px 10px 0px;
}

.controlPanelColumn {
	height: 20px;
	overflow: hidden;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.controlPanelLabel {
	display: block;
	height: 17px;
	font-size: 12px;
	line-height: 12px;
	text-align: right;
	margin: 0px 10px 0px 0px;
	padding: 3px 0px 0px 0px;
	overflow: hidden;
	float: left;
}

.controlSelector {
	border-color: #828282;
	border-style: solid;
	border-width: 1px;
	background-color: #272727;
	color: #ffffff;
}

div.pagingControls {
	height: 17px;
	font-size: 12px;
	line-height: 12px;
	text-align: right;
	margin: 0px 0px 0px 0px;
	padding: 3px 0px 0px 0px;
	overflow: hidden;
}

div.pagingControls a.viewAllLink, a:link.viewAllLink, a:visited.viewAllLink, a:active.viewAllLink {
	font-weight: normal;
	margin: 0px 0px 0px 5px;
	text-decoration: none;
	color: #ffffff;
}

div.pagingControls a:hover.viewAllLink {
	font-weight: normal;
	text-decoration: underline;
	color: #ffffff;
}

div.pagingControls a.pagingLink, a:link .pagingLink, a:visited .pagingLink, a:active .pagingLink, a:hover .pagingLink {
	font-weight: bold;
	margin: 0px 0px 0px 5px;
	text-decoration: none;
	color: #ffffff;
}

div.pagingControls a:hover.pagingLink {
	font-weight: bold;
	text-decoration: underline;
	color: #ffffff;
	margin: 0px 0px 0px 5px;
	text-decoration: none;
	color: #ffffff;
}

.storePage {
	width: 852px;
	height: 540px;
	overflow: hidden;
	float: left;
	margin: 0px 0px 0px 0px;
	padding: 10px 10px 0px 10px;
}

.storePageInner {
	width: 790px;
	height: 540px;
	overflow: auto;
	float: left;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

table.storePageTable {
	border-collapse: collapse;
	empty-cells: show;
	table-layout: fixed;
	border-width: 0px;
	width: 760px;
	margin: 1px 0px 0px 1px;
}

table.storePageTable td {
	width: 190px;
	height: 270px;
	margin: 0px;
	padding: 0px;
	border-width: 1px;
	border-color: #fefefe;
	border-style: dotted;
}

.itemContainer {
	width: 170px;
	height: 240px;
	overflow: hidden;
	border: 0px;
	float: left;
	margin: 15px 10px 15px 10px;
}

.itemImage {
	width: 170px;
	height: 180px;
	overflow: hidden;
	float: left;
	margin: 0px 0px 0px 0px;
}

.itemDetails {
	font-size: 12px;
	line-height: 12px;
	width: 170px;
	height: 50px;
	overflow: hidden;
	float: left;
	margin: 10px 0px 0px 0px;
}

.description {
	font-weight: bold;
	margin: 0px 0px 2px 0px;
}

.originalPrice {
	font-weight: normal;
}

.salePrice {
	color: #ff0000;
}

/* Homepage */

.buttonAndHeaderContainer {
	width: 929px;
	height: 38px;
	overflow: visible;
	float: left;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

div.chooseYourArtMenuContainer {
	position: relative;
	left: -928px;
	top: 38px;
	width: 155px;
	height: 346px;
	overflow: hidden;
	padding: 0px 20px 0px 20px;
	background-image: url('../_images/chooseyourartmenubackground.png');
}

div.menuItemSeparator {
	width: 155px;
	height: 1px;
	background-image: url('../_images/dotmenuseparator.png');
	background-repeat: repeat-x;
	overflow: hidden;
}

.chooseYourArtButton {
	width: 197px;
	height: 38px;
	overflow: hidden;
	background-image: url('../_images/chooseyourart.png');
	margin-right: 18px;
	text-align: center;
	float: left;
	cursor: pointer;
}

.blueZamGives {
	width: 686px;
	height: 38px;
	overflow: hidden;
	text-align: center;
	float: left;
	background-image: url('../_images/bluzamgivesbar.png');
}

.leftColumn {
	width: 195px;
	height: 634px;
	overflow: hidden;
	margin: 12px 18px 0px 0px;
	float: left;
}

.auctionBlockHeader {
	width: 196px;
	height: 26px;
	overflow: hidden;
	text-align: center;
	background-image: url('../_images/auctionblock.png');
	cursor: pointer;
}

.auctionBlock {
	width: 171px;
	height: 128px;
	margin: 0px auto 0px auto;
	overflow: hidden;
	cursor: pointer;
}

.zamTonesHeader {
	width: 195px;
	height: 26px;
	overflow: hidden;
	margin-top: 23px;
	text-align: center;
	background-image: url('../_images/zamtones.png');
	cursor: pointer;
}

.zamTones {
	width: 173px;
	height: 130px;
	margin: 0px auto 0px auto;
	overflow: hidden;
	background-image: url('../_images/zamtonecontentexample.png');
	cursor: pointer;
}


.verticalAdleft {
	width: 172px;
	height: 269px;
	margin: 30px auto 0px auto;
	overflow: hidden;
}

.verticalAdLeftIFrame {
	width: 172px;
	height: 269px;
	margin: 0px;
	overflow: hidden;
	border: 0px;
}

.homepageRightColumn {
	width: 690px;
	height: 634px;
	overflow: hidden;
	padding: 12px 0px 0px 0px;
	float: left;
}

.bottomRectAdSpace {
	width: 320px;
	height: 128px;
	overflow: hidden;
}

.communityLinks {
	width: 686px;
	height: 224px;
	margin: 0px 0px 0px 0px;
	float: left;
	overflow: hidden;
}

.smallContainer {
	width: 213px;
	height: 212px;
	margin: 0px 0px 0px 7px;
	background-color: #272727;
	float: left;
	background-image: url('../_images/smallcontainerbackground.png');
}

.smallContainerInner {
	width: 154px;
	height: 152px;
	margin: 12px auto 0px auto;
	cursor: pointer;
}

.artisticCommunity {
	background-image: url('../_images/artisticcommunityimage.png');
	cursor: pointer;
}

.zamBattleGround {
	background-image: url('../_images/zambattlegroundimage.png');
	cursor: pointer;
}

.publishing {
	background-image: url('../_images/publishingimage.png');
	cursor: pointer;
}

.smallContainerButton {
	width: 193px;
	height: 21px;
	margin: 0px auto 12px auto;
	padding-top: 11px;
	text-align: center;
	background-image: url('../_images/smallcontainerbuttonbackground.png');
	cursor: pointer;
}

.selectedProfiles {
	width: 686px;
	height: 232px;
	overflow: hidden;
	float: left;
	margin: 0px 0px 0px 0px;
}

.selectedProfileOuter {
	width: 328px;
	height: 200px;
	margin: 16px 0px 16px 0px;
	overflow: hidden;
	float: left;
	background-image: url('../_images/profilebackground.png');
	background-position: 0px 40px;
}

.selectedProfileHeader {
	width: 328px;
	height: 26px;
	overflow: hidden;
	float: left;
	padding-top: 14px;
	text-align: center;
	background-image: url('../_images/selectedprofileheaderbackground.png');
}

.selectedProfilePicture {
	width: 118px;
	height: 145px;
	overflow: hidden;
	float: left;
	margin: 7px 0px 0px 12px;
}

.selectedProfileInfo {
	width: 181px;
	height: 118px;
	overflow: hidden;
	float: left;
	margin: 25px 0px 0px 14px;
}

.selectedProfileName {
	width: 181px;
	height: 12px;
	overflow: hidden;
	float: left;
	margin: 0px 0px 12px 0px;
	text-align: center;
}

.selectedProfileBio {
	width: 156px;
	height: 70px;
	overflow: hidden;
	float: left;
	font-size: 11px;
	text-align: justify;
	margin: 0px 0px 12px 0px;
}

.selectedProfileMoreLink {
	width: 161px;
	height: 12px;
	overflow: hidden;
	float: left;
	text-align: right;
	margin: 0px 20px 0px 0px;
	text-decoration: underline;
}

.bottomAd {
	width: 682px;
	height: 136px;
	margin: 16px 0px 16px 0px;
	overflow: hidden;
	float: left;
}

.bottomAdIFrame {
	width: 682px;
	height: 136px;
	margin: 0px;
	overflow: hidden;
	border: 0px;
}

.dottedHorizontalSeparator {
	width: 929px;
	height: 2px;
	background:  #191919 url('../_images/dothoriz.png') repeat-x scroll center top;
	overflow: hidden;
	float: left;
}

.dottedVerticalSeparator {
	width: 3px;
	height: 360px;
	background:  #191919 url('../_images/dotvert.png') repeat-y scroll center top;
	overflow: hidden;
	float: left;
	margin: 0px 10px 0px 10px;
}



