/*
 * Author: Nathan Lane
 * Notes:
 *  z-index is not applicable unless we use absolut or relative positioning. If we use automatic positioning like we are right now, then it doesn't do anything to include it.
 */

div .siteMap ul {
	display: inline;
	margin: 0px;
	padding: 0px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-top: 21px;
	margin-right: 44px;
	float: left;
}

div .siteMap ul li {
	display: inline;
	margin-right: 2px;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 2px;
}

div .siteMap ul li a, a:link, a:active, a:visited {
	display: inline;
	text-decoration: none;
	color: #ffffff;
}

div .siteMap ul li a:hover {
	display: inline;
	text-decoration: underline;
	color: #ffffff;
}

div .chooseYourArtMenuContainer ul {
	margin: 0px;
	padding: 0px;
	list-style-image: url('../_images/doublearrows.png');
	margin-top: 7px;
	margin-right: 44px;
	float: left;
}

div .chooseYourArtMenuContainer ul li.link {
	display: block;
	margin: 0px 2px 0px 0px;
	padding: 7px 0px 7px 0px;
	list-style-image: url('../_images/doublearrows.png');
	font-size: 12px;
	font-weight: normal;
}

div .chooseYourArtMenuContainer ul li.separator {
	list-style-image: none;
	list-style-type: none;
	list-style-position: inside;
	display: block;
	margin: 0px;
	padding: 0px;
}

div .chooseYourArtMenuContainer ul li a, a:link, a:active, a:visited {
	display: block;
	width: 155px;
	text-decoration: none;
	color: #ffffff;
}

div .chooseYourArtMenuContainer ul li a:hover {
	display: block;
	width: 155px;
	text-decoration: underline;
	color: #ffffff;
}

div .chooseYourArtMenuContainer ul li a span {
	display: block;
	width: 13px;
	height: 10px;
	overflow: hidden;
	float: left;
	background-image: url('../_images/doublearrows.png');
	background-repeat: no-repeat;
	margin: 0px 7px 0px 0px;
}

.selectedProfileMoreLink a, a:link, a:visited, a:active {
	text-decoration: underline;
	color: #ffffff;
}

.selectedProfileMoreLink a:hover {
	text-decoration: none;
	color: #ffffff;
}

.siteMap2 ul {
	display: inline;
	margin: 0px;
	padding: 0px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-top: 28px;
	margin-right: 44px;
	float: left;
}

.siteMap2 ul li {
	display: inline;
	margin-right: 2px;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 2px;
}

.siteMap2 ul li a, a:link, a:active, a:visited {
	display: inline;
	text-decoration: none;
	color: #ffffff;
}

.siteMap2 ul li a:hover {
	display: inline;
	text-decoration: underline;
	color: #ffffff;
}

.copyright {
	font-size: 9px;
	color: #636363;
}

