/* http://www.webdevelopersnotes.com/design/colour_combinations_for_web_pages.php3
 * 
 * orange: #ff6633
 * light: #ffffcc
 * dark: #cccc99
 */

body
{
	background-color: #cccc99;
	color: #636363;
	margin: 0px;
	padding: 0px;
	font-family: sans-serif,Arial,Verdana;
	font-size: 14px;
}

p
{
	margin: 10px 0px 0px 0px;
}

form
{
	font-size: 14px;
}

label
{
	display: block;
	float: left;
	text-align: right;
	width: 210px;
}

input
{
	display: block;
	float: left;
	text-align: left;
	width: 300px;
}

textarea
{
	display: block;
	float: left;
	height: 200px;
	text-align: left;
	width: 650px;
}

button
{
	display: block;
	float: right;
	margin: 0px 2px 0px 0px;
}

a:link, a:visited, a:active
{
	color: #999973;
	text-decoration: none;
}

a:hover
{
	color: #999973;
	text-decoration: underline;
}

div.outerPageContainer
{
	width: 722px;
	margin: 10px auto;
	float: none;
}

div.banner
{
	width: 722px;
	height: 50px;
	margin: 0px;
	float: left;
	background-image: url('../_images/bannerbackground.png');
	background-position: top center;
	float: left;
	overflow: hidden;
}

div.bannerInnerBanner
{
	width: 718px;
	height: 72px;
	margin: 0px 2px 0px 2px;
	float: left;
	background-color: #cccc99;
}

div.separator
{
	width: 722px;
	height: 2px;
	margin: 0px;
	float: left;
	background-color: #ff6633;
	overflow: hidden;
}

div.explanation span
{
	font-size: 10px;
	color: #999973;
}

div.navigationBar
{
	width: 722px;
	height: 32px;
	padding: 10px 0px 0px 0px;
	float: left;
	background-color: #ffffcc;
	overflow: hidden;
}

ul.navigationList
{
	padding: 0px 0px 0px 8px;
	margin: 0px;
	text-indent: 0px;
	list-style-image: none;
	list-style-type: none;
}

ul.navigationList li
{
	display: inline;
}

a.navigationLink
{
	display: block;
	float: left;
	padding: 0px 2px 0px 2px;
}

span.navigationLink
{
	display: block;
	float: left;
	padding: 0px 2px 0px 2px;
}

div.pageBody
{
	width: 658px;
	margin: 0px;
	padding: 0px 16px 10px 48px;
	float: left;
	background-color: #ffffcc;
	background-image: url('../_images/cface.png');
	background-repeat: repeat-y;
	font-size: 11px;
}

div.innerPageBody
{
	width: 658px;
	margin: 0px;
	padding: 0px 10px 0px 0px;
	float: left;
	background-color: #ffffcc;
	background-image: url('../_images/binary.png');
	background-repeat: repeat-y;
	background-position: top right;
}

div.stamp
{
	float: left;
	font-weight: bold;
	margin: 0px 10px 0px 0px;
	color: #999973;
	font-style: italic;
}

div.stamp span.itemTitle
{
	font-style: normal
}

div.footer span
{
	width: 722px;
	display: block;
	margin: 0px;
	padding: 0px;
	text-align: center;
	color: #ff6633;
	font-size: 12px;
}

div.dashedSeparator
{
	height: 2px;
	background-image: url('../_images/horizontaldash.gif');
	background-position: top left;
	overflow: hidden;
}

div.hrSeparator
{
	float: left;
	height: 20px;
	overflow: hidden hidden;
	width: 100%;
	overflow: hidden;
}

span#nathandelaneBannerLink
{
	display: block;
	padding-top: 4px;
	padding-left: 10px;
	float: left;
}

a:link#helpLink
{
	color: #636363;
	text-decoration: none;
}

a:visited#helpLink
{
	color: #636363;
	text-decoration: none;
}

a:active#helpLink
{
	color: #636363;
	text-decoration: none;
}

a:hover#helpLink
{
	color: #636363;
	text-decoration: underline;
}

.textRed
{
	color: #800000;
}