body {
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
	color: #003e66;
	font-family: Arial,sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 16px;
}

img {
	border: 0px;
}

h1 {
	padding: 0px;
	margin: 0px 0px 10px 0px;
	font-size: 20px;
}

label {
	display: block;
	width: 210px;
	float: left;
	text-align: right;
}

input {
	display: block;
	width: 300px;
	float: left;
	text-align: left;
}

textarea {
	display: block;
	width: 640px;
	height: 200px;
	float: left;
	text-align: left;
}

button {
	display: block;
	float: right;
}

.pageContainer {
	width: 740px;
	margin: 0px auto;
}

.pageHeader {
	width: 740px;
	margin: 0px;
	float: left;
	padding: 10px 0px 10px 0px;
}

.pageNavigationContainer {
	width: 740px;
	margin: 0px;
	float: left;
}

.navigationMenu {
	width: 740px;
	height: 20px;
	margin: 0px;
	float: left;
	background-color: #003e66;
	font-size: 16px;
	overflow: hidden;
}

.navigationMenu ul {
	list-style-type: inline;
	margin: 0px;
	padding: 0px;
}

.navigationMenu ul li {
	display: block;
	float: left;
	list-style-type: inline;
	padding: 0px;
	margin: 0px;
	height: 20px;
	width: 80px;
}

a.navigationLink, a:link.navigationLink, a:active.navigationLink, a:visited.navigationLink {
	height: 20px;
	width: 80px;
	float: left;
	text-decoration: none;
	color: #ffffff;
	margin: 2px;
}

a:hover.navigationLink {
	text-decoration: none;
	height: 20px;
	width: 80px;
	float: left;
	color: #fa7200;
	margin: 2px;
}

.pageBodyContainer {
	width: 740px;
	float: left;
}

.innerContainer {
	width: 740px;
	float: left;
	margin: 5px;
}

a.nathandelaneLink, a:link.nathandelaneLink, a:active.nathandelaneLink, a:visited.nathandelaneLink {
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	color: #3696bb;
}

a:hover.nathandelaneLink {
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline;
	color: #3696bb;
}

.hrDiv {
	width: 100%;
	height: 2px;
	background-color: #003e66;
	overflow: hidden;
	float: left;
	margin: 5px 0px 5px 0px;
}

.hrSeparator {
	width: 100%;
	height: 20px;
	overflow: hidden;
	float: left;
}

.formItemSeparator {
	width: 100%;
	height: 10px;
	overflow: hidden;
	float: left;
}

.contactFormContainer {
	width: 640px;
	margin: 10px 50px 10px 50px;
}

.footer {
	width: 100%;
	float: left;
	text-align: center;
	margin: 0px 0px 10px 0px;
}

/* Image classes */

.pageHeaderImage {
	height: 20px;
	width: 200px;
	display: block;
	float: left;
	overflow: hidden;
}

.projectLogo {
	width: 150px;
	height: 150px;
	overflow: hidden;
	display: block;
	float: left;
	margin: 0px 10px 0px 0px;
}

.projectContentContainer {
	width: 580px;
	float: left;
	margin: 0px 0px 0px 10px;
}
