#header
{
	padding: 10px 0 0;
	width: 1002px;
	height: 154px;
	overflow: hidden;
	background-color: #50779d;
}

#phyerNetLogo
{
	width: 175px;
	height: 50px;
	overflow: hidden;
	float: left;
	margin: 0 0 0 10px;
}

#phyerNetLogo a
{
	display: block;
	width: 175px;
	height: 50px;
	background-image: url(../_img/PhyerNet-Logo.png);
	background-repeat: no-repeat;
}

#phyerNetLogo a:link,
#phyerNetLogo a:active,
#phyerNetLogo a:visited
{
	background-position: 0 0;
}

#phyerNetLogo a:hover
{
	background-position: -175px 0;	
}

#phyleBoxLoginForm
{
	width: 200px;
	height: 125px;
	overflow: hidden;
	float: right;
	margin: 0 10px 0 0;
}

#navigation
{
	float: left;
	overflow: hidden;
	font-size: 16px;
}

#navigation ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
}

#navigation ul li
{
	display: inline;
}

#navigation ul li a:link,
#navigation ul li a:active,
#navigation ul li a:visited,
#navigation ul li a:hover
{
	border-top: 1px solid #00529b;
	border-right: 1px solid #00529b;
	border-bottom: 1px solid #00529b;
	background-color: #00529b;
	display: block;
	padding: 4px 8px;
	color: #efefef;
	text-decoration: none;
	float: left;
}

#navigation ul li a:link,
#navigation ul li a:active,
#navigation ul li a:visited
{
	
}

#navigation ul li a:hover
{
	background-color: #50779d;
}

#navigation ul li a.current:link,
#navigation ul li a.current:active,
#navigation ul li a.current:visited,
#navigation ul li a.current:hover
{
	background-color: #50779d;
	border-bottom: 1px solid #50779d;
}

#navigationPlaceHolderFront
{
	display: block;
	width: 9px;
	height: 28px;
	overflow: hidden;
	border-bottom: 1px solid #00529b;
	border-right: 1px solid #00529b;
	float: left;
}

#navigationPlaceHolderBack
{
	display: block;
	width: 687px;
	height: 28px;
	overflow: hidden;
	border-bottom: 1px solid #00529b;
	float: left;
}
